body{
    margin:0;padding:0;font-family: 'Montserrat', sans-serif;display:flex;
    flex-direction: column;
    justify-content:space-between;min-height: 100vh;align-items: center;min-width:320px;
}
.ab{
    padding-top:50px; margin-top:70px;margin-bottom:70px;
}
.navlins{
    color:black;font-family: 'Poppins', sans-serif;font-size:15px;text-align: center;
    cursor: pointer;
}
.navlins:hover{
    color:#8cb654 !important;
}
.brand{
    font-weight: bold;color:black;text-decoration: none;
 }
 #mynav{
    background-color: white;
}
.login{
    border:1px solid #E2E5FE;
   }
   .heading{
       background-color:salmon;
       color:white;padding:20px;
   }
   .body{
       padding:10px;
   }
   .loginfooter{
       background-color:#efefef;padding:10px;
   }
   .footer{
    background-color: #535353;width:100%;margin:0;padding:20px 0;color:white;
}
.contact_row{
margin:0;width:100%;padding-top:20px;
}
.follow_images img{
    width:50px;margin-right:10px;margin-top:10px;
}
.footer_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_row h2{
    font-weight: bold;
}
@media screen and (max-width:768px){
.footer_img img{
    display: none;
}
}
@media screen and (min-width: 992px){
    #signupdropdown{
        margin-left:-70px !important;
    }
}